[submodule "plugins/bd"]
	path = plugins/bd
	url = git@github.com:Tarrasch/zsh-bd.git
	branch = master
[submodule "plugins/zsh-256color"]
	path = plugins/zsh-256color
	url = git@github.com:chrissicool/zsh-256color.git
	branch = master
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "themes/powerlevel9k"]
	path = themes/powerlevel9k
	url = git@github.com:Powerlevel9k/powerlevel9k.git
	branch = master
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
	branch = master
[submodule "plugins/brew"]
	path = plugins/brew
	url = git@github.com:rhuang2014/brew.git
[submodule "plugins/node.plugin.zsh"]
	path = plugins/node.plugin.zsh
	url = git@github.com:srijanshetty/node.plugin.zsh.git
[submodule "plugins/zsh-vi-mode"]
	path = plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode.git
[submodule "plugins/omz-plugin-pnpm"]
	path = plugins/omz-plugin-pnpm
	url = git@github.com:ntnyq/omz-plugin-pnpm.git
